:root {
  --marketree-green: #20bf6b;
  scrollbar-width: none !important;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.figure-caption {
  color: black;
}

.mainContent {
  padding: 2px;
}

.navbar {
  width: 100%;
  height: 20%;
  background-color: var(--marketree-green);
}

.navbar-brand span.marke {
  color: var(--marketree-green);
  font-weight: bold;
}

.nav-item,
.login {
  margin-left: 1em;
}

.login,
.nav-item {
  font-size: 100%;
}

#top {
  background-color: #20bf6b;
}

#title {
  margin: auto;
  width: 60%;
}

#title a,
#title h2,
#title h6 {
  margin-top: 0.5em;
}

#sale {
  box-shadow: 8px 8px 5px #258339;
}

body {
  font-size: 16px;
}

.wrapper {
  perspective: 850px;
}

.inner img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  height: 350px;
}

.what {
  text-align: center;
  margin-top: 2em;
}

.sub-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sub-section {
  text-align: center;
  margin-top: 0.3em;
}

.content-block {
  border-radius: 10px;
  border: 1px solid #ccc;
  border-style: none;
  margin-top: 1.3em;
}

.brief {
  text-align: center;
  font-size: 85%;
}

.brief2 {
  text-align: center;
}

.border-end,
.border-line {
  display: inline;
  margin-right: 2em;
  font-size: 100%;
}

.border-line {
  border-right: 2px black solid;
}

footer {
  background-color: #258339;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fed330;
}

.mb-4 {
  margin-top: 1em;
}

/* Listing page */

#listingContent{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: #343a40;
  border-radius: 20px;
  filter: drop-shadow(0 4mm 4mm rgb(1, 29, 4));
  overflow: hidden;
}

#listingCarousel {
  float: left;
  width: 70%;
  background-color: #0A0A0A;
}

#listingContent h1 {
  margin-bottom: 1%;
  color: var(--marketree-green);
  font-weight: bold;
  background-color: #343a40;
  border-bottom: 2px solid var(--marketree-green);
}

.w-100 {
  width: 100% !important;
  height: 80vh;
  object-fit: contain;
}

#listingText {
  font-size: 120%;
  height: 80vh;
  width: 30%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  color: #f5f5f5;
  overflow-y:auto;
}

#listingDescHeader{
  display: block;
  color: var(--marketree-green);
  font-size: 150%;
  font-weight: bold;
}

#listingDesc{
  padding-bottom: 5%;
}