.topbarWrapper {
  display: block;
  background-color: #262a2e;
}

.topbar-header {
  padding: 10px;
}

.sidebarWrapper ul {
  margin-left: 5px;
}

#topbar {
  color: #f5f5f5;
}

#topbar a {
  color: #f5f5f5;
}

.item-show {
  margin-top: 1em;
  margin-left: 2em;
}

#listing {
  min-height: 100vh;
}

.browse {
  margin: 10px;
  justify-content: center;
}

.singleListing {
  box-sizing: border-box;
  margin: 10px;
  border-radius: 6px;
  width: 300px;
  padding: 20px;
  border: 2px solid rgb(114, 114, 114);
  color: #252729;
  border: 2px solid #838383;
  font-size: 20px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.singleListing:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgb(109, 109, 109);
  text-decoration: none;
}

.singleListing img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
}

.singleListing p {
  margin-bottom: 0;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  margin-top: 5px;
}

.singleListing .listingName {
  font-weight: bold;
  height: 30px;
  overflow: hidden;
}

.singleListing .listingPrice {
  
}

.singleListing .listingType {
  
}

.singleListing .listingDesc {
  font-size: 0.9em;
  height: 95px;
}

#entire {
  margin-top: 2%;
}

a:hover {
  color: #252729;
}

.listingDesc {
  width: 100%;
  overflow-wrap: break-word;
}

.topbarWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.topbar-header {
  color: #fff;
}

#topbar {
  max-width: 600px;
  overflow-wrap: break-word;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.sidesM {
  font-size: 120%;
  padding: 10px;
  line-height: 1;
  margin-bottom: 5px;
  /* margin: auto; */
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #252729;
}

.sidesM:hover,
.sidesM.active {
  background-color: #38704f;
  transition: 0.5s;
}

#itemSearch {
  margin: 5px 5px 10px 5px;
  width: 600px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid #000000;
}

#itemSearch:focus {
  outline: none;
  box-shadow: 0em 0 0.2em rgb(72, 243, 86);
  border: 2px solid #38704f;
  transition: 0.5s;
}

.color {
  font-size: 0.9em;
  color: #38704f;
  font-weight: bold;
}
