html {
  min-height: 100vh;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
  border-radius: 0 !important;
}

.jumbotron .row {
  align-items: center;
  justify-content: space-around;
}

.jumbotron .title {
  margin: 15px;
}

.jumbotron .inner img {
  margin: 0 !important;
  max-height: 250px !important;
}
